:root {
    --blue-primary: #3BBCD9;
    --red-primary: #f24141;
    --yellow-secondary: #f2b705;
    --coffe-secondary: #bf9075;
    --baby-blue-secondary: #88e8f2;
    --font-variant: 'Roboto', sans-serif;
    --grey: #D9D9D9;
}
body {
    font-family:"Poppins", sans-serif ;
    font-size: 16px;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  min-width:360px ;
  padding: 10px 10px;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.subtitle {
  font-size: 1.6rem ;
}
.title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  font-style: bold;
}
.subtitle {
  text-align: center;  
  font-size: 1.5rem;
  font-weight: 700;
  font-style: bold;
  
}
.text {

  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.nav {
  --close:none;
  --hamburguer:block;

  min-height: 63px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "logo active";
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0;
}
.nav__logo{
  font-size: 30px;
  text-decoration: none;
}
.nav__close{
  grid-area: active;
  place-self: center;
  cursor: pointer;
  display: inline;
}
.nav__links{
  display: none;
}
.nav__img{
  width: 30px;
  height: 30px;
}
.color__primary {
  color: var(--blue-primary);
}
.color__secondary {
  color: var(--red-primary);
}
.hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 20px;
}
.hero__title{
  min-width: 340px;
  padding: 0px 5px;
}
.hero__list{
  font-size: 1rem;
  padding-bottom: 20px;
}
.hero__button{
  width: 165px;
  height:52px ;
  background-color: var(--red-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 18px;
}
.hero__button a{
  text-align: center;
  color: white;
  text-decoration: none;
}
.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: "info"
             "media";
}
.feature__info{
  min-width: 340px;
  max-width: 500px;
  grid-area: info;
  display: grid;
  align-items: center;
  justify-content: center;
}
.feature__media {
  grid-area: media;
  display: none;
}
.feature__items {
  
}
.feature__button {
  border: none;
  border-radius: 15px;
  min-width: 340px;
  height: 55px;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 5px 0px;
  background-color: var(--grey);
  cursor: pointer;
}
.feature__active {
  color: var(--red-primary);
}
.feature__text {
  text-align: justify;
  display: none;
}
.feature__media {
  padding: 0px ;
  margin: 2px 0px;
  min-width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__img {
  width: 100%;
  height: 100%;
  display: none;
}
.active {
  display: block;
}