:root {
    --blue-primary: hsl(209,55%,20%);
    --blue-contraste: hsl(209,61%,95%);
    --blue-contraste_2: hsl(209,61%,70%);

    --red-primary: hsl(0,87%,70%);
    --blue-secondary: hsl(209,61%,15%);
    --blue-secondary_2: hsl(209,21%,40%);

    --blue-secondary-shadow: hsl(209,61%,15%, 0.2);

    --baby-blue-secondary: #88e8f2;
    --font-variant: 'Roboto', sans-serif;

    --grey: #8F8E8E;
    --green-primary: #25D366;
    --green-whatsapp: #00C14F;
    
}
body {
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif ;
    font-size: 16px;
}
.container {
  display: grid;
  align-items: center;
  justify-content: center;
  min-width:320px ;
}
.color_yellow {
  background-color: #FFCD00 ;
}
.color__blue {
  background-color: #9BD6CD;
}
.color__green_1 {
  background-color: #8AC659;
}
.color__green_2 {
  background-color: #00A84E;
}
.color__blue_2 {
  background-color: #00A9B3;
}
.color__pink {
  background-color: #FE8099;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.subtitle {
  font-size: 1.6rem ;
}

.subtitle {
  text-align: center;  
  font-size: 1.5rem;
  font-weight: 700;
  font-style: bold;
  
}
.text {

  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
.header {
  display: grid;
  background-color: var(--blue-secondary);
  place-items: center;
}

.nav {
  --close:none;
  --hamburguer:block;
  --transform: translate(-140%) ;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "logo active";
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 90%;
  padding: 12px;
}
.nav:target {
  --close: block;
  --hamburguer: none;
  --transform: translate(0);
}
.nav__logo{
  grid-area: logo;
  padding: 0px 5px;
  z-index: 1;
  font-size: 30px;
  text-decoration: none;
}
.nav__hamburguer {
  grid-area: active;
  z-index: 1;
  display: var(--hamburguer);
}
.nav__close{
  grid-area: active;
  z-index: 1;
  display: var(--close);
}
.nav__button__contact {
  display: none;
}
.nav__button__contact a {
  color: #fff;
  text-decoration: none;
}
.nav__links{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 800px;
  background-color: #000;

  padding: 0;
  list-style-type: none;
  display: grid;
  place-content: center start;
  gap: 2em;
  padding-left: 5%;

  transform: var(--transform);
  transition: transform .4s;
}
.nav__link {
  z-index: 1;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;

}
.nav__img{
  width: 30px;
  height: 30px;
}
.logo__primary {
  color: var(--blue-primary);
}
.logo__white {
  color: var(--blue-contraste_2);
}
.logo__red {
  color: var(--red-primary);
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px 0px 35px;
  margin: 15px 0px;
}
.hero__media {
  display: none;
}
.hero__title{
  grid-area: title;
  display: flex;
  }
.hero__title h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}
.hero__list{
  grid-area: info;
  font-size: 1rem;
  padding-bottom: 20px;
  margin: 10px;
}
.hero__list {
  background-color: var(--blue-primary);
  padding: 30px 30px;
  margin-bottom: 30px;
  list-style-type: none;
  border-radius: 30px;
  box-shadow: 3px 3px 10px var(--blue-contraste_2);

}
.hero__list li h2::before {
  content: "✓"; 
  margin-right: 5px; 
}
.hero__list__item {
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  font-size: 1.2rem;
}
.hero__button__container {
display: flex;
align-items: center;
justify-content: center;
box-shadow: none;
}
.hero__button{
  width: 165px;
  height:52px ;
  background-color: var(--red-primary);
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  color: white;
  border: none;
}
.features {
  display: grid;
  margin: 0px 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: "title"
             "media";
}
.feature__info{
  min-width: 340px;
  max-width: 1024px;
  grid-area: info;
  display: grid;
  align-items: center;
  justify-content: center;
}
.feature__media {
  display: none;
  opacity: 1;
  margin-bottom: 15px;
  transition: display 0.5s ease-in-out;
  box-shadow: 2px 1px 5px var(--blue-secondary_2);

}
.feature__button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 340px;
  width: 100%;
  height: 51px;
  /* border-bottom: 1px 2px solid  var(--blue-primary); */
  box-shadow: 2px 0px 5px var(--blue-secondary_2);
  border-radius: 9px 9px 2px 2px;
}
.feature__button {
  border: none;
  cursor: pointer;
  /* border-radius: 15px; */
  min-width: 300px ;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  margin: 5px 3px;
  color: white;
  text-align: left;
}
.feature__active {
  color: var(--blue-primary);
}
.feature__title {
  font-size: 34px;
}
.feature__text {
  text-align: justify;
  padding: 8px 10px;
  margin: 2px 0px;
  min-width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__figure {
  padding: 10px;
  margin: 0px;
  min-width: 340px;

}
.feature__img {
  width: 100%;
  height: auto;
}
.button__open {
  display: block;
  width: 22px;
  height: 22px;
}
.button__close {
  display: none;
  width: 22px;
  height: 22px;
  margin-right: 2px;
}
.active {
  display: block;
}
.inactive {
  display: none;
}
.banner {
  margin: 30px 0px;
  background-color: black;
  width: 100%;
}
.banner__container {
  padding: 1px 0px;
}
.banner__item {
  color: var(--baby-blue-secondary);
  font-weight: 800;
  font-style: bold;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
}
.demo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-template-areas: "title"
                        "info" 
                        "media"
  ;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.demo__title {
  grid-area: title;
  text-align: center;
  margin-bottom: 0px;
}
.demo__info {
  grid-area: info;
}
.demo__logo {
  margin-top: 0px;
  text-align: center;
}
.demo__text {
  text-align: center;
}
.demo__button{
  width: 100%;
  height:52px ;
  background-color: var(--red-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 18px;
}
.demo__button a{
  text-align: center;
  color: white;
  text-decoration: none;
}
.demo__negrita {

  font-size: 1.2rem;
  font-weight: bold;
}
.action {
  width:100% ;
  margin: 30px 0px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}
.action__text{
  color: white;
  font-size: 1.4rem;
  text-align: center;
  padding: 20px 18px;
}
.whatsapp__button {
  background-color: var(--green-whatsapp);
  max-width: 170px;
  height: 40px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 0px;
}
.whatsapp__button a {
  text-decoration: none;
  color: white;
}
.gradient-text {
  background-image: linear-gradient(to right, var(--baby-blue-secondary) 45%,var(--green-primary)); /* Define el gradiente de color */
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
}




@media (min-width:768px) {
  .container {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .header{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .nav {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu menu menu";
    align-items: center;
    justify-content: center;
  }
  
  .nav__links{
    transform: unset;
    grid-area: menu;
    position: unset;
    min-height: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1px;
    padding: 0px;
    background-color: transparent;
  }
  .nav__list {
    list-style:none ;
  }
  .nav__link{
    color: var(--blue-contraste_2);
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .nav__button__contact {
    /* grid-area: contact; */
    display: none;
  }
  .nav__logo{
    grid-area: logo;
  }
  .nav__hamburguer {
    display: none;
  }
   .hero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr;
    grid-template-areas: "info info "
                          "media media" 
    ;
    gap: 20px;
  }
  .hero__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__media {
    grid-area: media;
    display: flex;
    padding: 10px 0px;
  }

  .hero__media__video {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
}
@media (min-width:1024px)  {
  .nav {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu menu menu contact";
  }
  .nav__button__contact{
    grid-area: contact;
    display: block;
  }
  .hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "info media";
  }
  .hero__info {
    grid-area: info;
  }
  .hero__media{
    grid-area: media;
  }
  .features {
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
  }
  .feature__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "info media";
  }
  .feature__buttons {
    grid-area: info;
  }
  .feature__button {
    margin: 0px;
    padding: 0px;
  }
  .feature__media {
    grid-area: media;
  }
}