:root {
    --blue-primary: #3bbcd9;
    --red-primary: #f24141;
    --yellow-secondary: #f2b705;
    --coffe-secondary: #bf9075;
    --baby-blue-secondary: #88e8f2;
    --font-variant: 'Roboto', sans-serif;
}
body {
    font-family:"Poppins", sans-serif ;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

